# DNA files
*.dat
*.gfa
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.json
*.json.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz
*.gz
*.tar
hmmsearch_out.log
*fqscrn.tar.gz
*depth*
*lmiss*
*before*
*zip


# Directories
dDocentHPC/
fltrVCF/
rad_haplotyper/
SPA*/
SPAdes*/
SPAdes_R1R2_noIsolate_decontam/
busco_c*/
busco_s*/
busco_d*/
*/logs/probes_ann*out
probes_ann*
pire_*_processing/
augustus_config_dir/
*busco_c*/
