*.gfa
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz
*.gz
dDocentHPC/
fltrVCF/
rad_haplotyper/
SPA*/
SPAdes*/
SPAdes_R1R2_noIsolate_decontam/
busco_c*/
busco_s*/
busco_d*/
*/logs/probes_ann*out
probes_ann*
