*.table
*.fq
*.fq.*
*.fasta
*.fasta.*
*.fastq
*.fastq.*
*.fa
*.fa.*
*.bam
*.bam.*
*.sam
*.vcf
*.vcf.gz
*.gz
dDocentHPC/
fltrVCF/
rad_haplotyper/
SPAdes*/
fq_fp1_clmparray_fp2_Onlymrgd/
fq_fp1_clmparray_fp2_fqscrn_repaired_Onlymrgd/
fq_fp1_clmparray_fp2_mrgd/
SPAdes_R1R2_noIsolate_decontam/
busco*/
*busco*/
logs/
*logs/

